<h1>Listing photos</h1>

<table>
  <tr>
    <th>Caption</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% if @fivestar != nil %>
<% @fivestar.each do |photo| %>
  <tr>
    <td><%= photo.caption %></td>
    <td><%= photo.description %></td>
    <td><%= photo.url %></td>
    <td><%= photo.rating %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
