<h1>Listing photos</h1>

<table>
  <tr>
    <th>Caption</th>
    <th>Description</th>
    <th>Url</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @photos.each do |photo| %>
  <tr>
    <td><%= photo.caption %></td>
    <td><%= render :partial=>"preview", :locals=>{ :picture=> photo} %></td>
    <td><%= photo.rating %></td>
    <td><%= link_to 'Show', photo %></td>
    <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
    <td><%= link_to 'Destroy', photo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Photo', new_photo_path %>
