<p id="notice"><%= notice %></p>

<p>
  <b>Caption:</b>
  <%= @photo.caption %>
</p>

<p>
  <b>Description:</b>
  <%= simple_format(@photo.description) %>
</p>

<p>
  <b>Url:</b>
  <%= @photo.url %>
</p>
<img src='<%= @photo.url %>'>

<p>
  <b>Rating:</b>
  <%= @photo.rating %>
</p>
<p><%= simple_format(@rating) %>
<% @stars = '&#9734;' * (@photo.rating*5/100).ceil %>
<p><%= simple_format(@stars) %></p>	    

<% if @photo.user != nil %>
  <h2>Other photos by <%= @photo.user.full_name %></h2>
  <%= render :partial=>"others", :locals=>{:photos => @photo.user.photos } %>
<% end %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
