<!DOCTYPE html>
<html>
<head>
  <title>Ostapp2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= link_to 'All Photos', :controller => :photos, :action => :index %>
<%= link_to 'Five Star Photo', :controller => :photos, :action => :fivestar %>
<%= link_to 'New Photo', :controller => :photos, :action => :new %>
Signed in as: <%= @user.username %>
<%= form_tag({:action=> "search"}, :method=>"GET") do %>
  <%= label_tag(:terms, "Search for:") %>
  <%= text_field_tag(:terms) %>
  <%= submit_tag("Search") %>
<% end %>


<%= yield %>

</body>
</html>
